{% load staticfiles %}
<!-- Modernizr JS -->
<script src="{% static 'campus_nnstu/js/vendor/modernizr-2.8.3.min.js' %}"></script>
<!-- jquery latest version -->
<script src="{% static 'campus_nnstu/js/vendor/jquery-1.12.0.min.js' %}"></script>
<!-- Bootstrap framework js -->
<script src="{% static 'campus_nnstu/js/bootstrap.min.js' %}"></script>
<!-- All js plugins included in this file. -->
<script src="{% static 'campus_nnstu/js/plugins/jquery-ui.min.js' %}"></script>
<script src="{% static 'campus_nnstu/js/plugins/headroom.min.js' %}"></script>
<script src="{% static 'campus_nnstu/js/plugins/jquery.countdown.min.js' %}"></script>
<script src="{% static 'campus_nnstu/js/plugins/jquery.counterup.min.js' %}"></script>
<script src="{% static 'campus_nnstu/js/plugins/jquery.meanmenu.min.js' %}"></script>
<script src="{% static 'campus_nnstu/js/plugins/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'campus_nnstu/js/plugins/slick.min.js' %}"></script>
<script src="{% static 'campus_nnstu/js/main.js' %}"></script>
<script src="{% static 'campus_nnstu/js/custom.js' %}"></script>
<script src="{% static 'campus_nnstu/js/lightbox.min.js' %}"></script>
<script id="dsq-count-scr" src="//campus-ngtu-ru.disqus.com/count.js" async></script>
